<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link href="{Base::getResource subDir=common type=css filename=base.css}" rel="stylesheet" type="text/css" />
    <link href="{Base::getResource subDir=admin type=css filename=login.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login">
    <h1>{$title}</h1>
    <div class="main">
        <div class="tip">用户名：</div>
        <div class="text"><input class="user" name="" type="text" /></div>
        <div class="tip">密码：</div>
        <div class="text"><input class="password" name="" type="password" /></div>
    </div>
    <div class="button">
        <button>登录</button>
        <button>关闭</button>
    </div>
    <div class="copyright">{Base::copyright}</div>
</div>
</body>
</html>
