<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Language" content="zh-CN" />
<meta name="author" content="HuangYi"/>
<meta name="keywords" content="Frameworkphp框架,mk框架，PHP框架,PHP开发框架,PHP教程,PHP源码,PHP下载,PHP论坛"/>
<meta name="description" content="Frameworkphp框架- 简单、自由、实用、高效、安全，所有人都能学得会的php框架，具有完整的开发手册，丰富的入门教程，是中小型项目开发首选"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<link rel="stylesheet" type="text/css" href="{Example::getResource subDir=front type=css filename=index.css}">
<script src="{Example::getResource subDir=common type=js filename=common.js}"></script>
<!--<script src="__STATICS__/common/js/common.js"></script>-->
<title>{$title}</title>
</head>
<body>
<div class="all">
    <table border=0 cellpadding=2 cellspacing=0 width=100%>
        <tr style="height: 50px;"><td width=80% nowrap><b>
            <!--Example::colorTitle-->
            <font face=times color=#{$apival[0]} size=10>{$apival[1]}</font>
            <!--/-->
            &nbsp;&nbsp;
        </b></td>
            <td style="text-align:center;">
                <a href="javascript:void(0)" onclick="SetHome(this,window.location)" style="text-decoration:none;">设为首页</a>
            </td>
            <td style="text-align:center;">
                <a href="javascript:void(0)" onclick="AddFavorite(window.location,document.title)" style="text-decoration:none;">加入收藏 </a>
            </td>
        </tr>
    </table>
    <div class="head">
        <div class="a2">
            <ul>
                <li>
                    <!--Example::menu-->
                    <a href="{$apival[0]}" class="b">{$apival[1]}</a>
                    <!--/-->
                </li>
            </ul>
        </div>
        <div class="a3">
            <div align="center"><img src="{Example::getResource subDir=front type=image filename=quan.jpg}" /></div>
        </div>
        <div class="center">
            <DIV class=indexfun>
                <H3>使用简单</H3>
                <P class=thisp1>只要您会使用php输出'hello world'，就可以轻松学习MP框架，提升php水平！</P>
                <H3>功能实用</H3>
                <P class=thisp2>不管您是在做大项目还是小项目或对开源系统二次开发，MP框架都可以帮助您！</P>
                <H3>高效安全</H3>
                <P class=thisp3>数据库缓存、静态页面缓存，让效率加倍提升！数据过滤、权限认证，让系统更安全！</P>
            </DIV>
        </div>
        <p><br>
            这是一个模板标签解析例子<br>
            这里展示的主要是FrameworkPHP的特色标签：两种API标签<br>
            总结起来有下面两步：<br/>
            1、先编辑模板（不存在的API标签按照美工自己的想象写出API标签的形式）；<br />
            2、按照模板中的标签形式实现所有的API标签；<br />
            API标签的实现方法要注意：<br />
            1、API标签双冒号前部分（本例中的'Example'）在写成实现类时要把类名命名为‘\Label\Example’；<br />
            2、API标签中调用方法必须是静态方法 ；<br />
            详细用法请见本例的源文件。<br>
        </p>
        <div class="foot">
             <div>{Example::copyright}</div>
             <div>{Example::icp}</div>
        </div>
    </div>
</div>
</body>
</html>